body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}#container{
   
     display:flex; 
     flex-direction: row;
     
     flex-wrap: wrap;
     min-width: 600px;
    min-height: 600px;
    max-width: 600px;
    max-height: 600px;
   overflow: hidden;
    outline-style: solid;
    
}
.grid{
    /* display: flex;
    
    height:0;
    width:10%;
    padding-bottom: 10%;
   outline-style: solid;
   margin: 0;
   padding: 0;  */
   position: relative;
   margin:0;
   display: inline-block;
   width: 10%;
   padding-bottom: 10%;
   overflow: auto;
   outline-style: solid
}
.header{
    
    justify-content: center;
    align-items: center;
    
}