body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}#container{
   
     display:flex; 
     flex-direction: row;
     
     padding: 2px;
     width: 600px;
    height: 600px;
    margin: 2px;
    border: 1px black solid;
    
}
.grid{
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    height:0;
    width:5%;
    padding-bottom: 5%;
    padding: 1;
    margin: 1;
    border-style:solid;
    border-color: wheat;
    /* object-fit: contain; */
}
.header{
    
    justify-content: center;
    align-items: center;
    
}