body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}.container{
   
   display: flex;
  flex-wrap: wrap;
  outline-style:solid;
  width: 720px;
  height: 720px;
  margin:  0;
  padding:  0;
}
.grid{
     display: flex;
    outline-style: solid;
    width: 45px;
    height: 45px; 
    margin: 0;
    padding: 0;
    gap: 0;
    background-color: white;
}
.header{
    
    justify-content: center;
    align-items: center;
    
}

.smallGrid{
    display: flex;
    outline-style: solid;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    gap: 0;
    background-color: white;
}
